{% load category %}
{% load cart_product %}
{% load notification %}
{% load theme %}
{% load static %}

<header class="header header-intro-clearance header-4">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                {% for info in settings %}
                    {% if info.phone %}
                    <a href="tel:{{info.phone}}"><i class="icon-phone"></i>{{info.phone}} &nbsp; &nbsp; </a>
                    <a href="tel:{{info.phone}}"> <i class="icon-phone"></i>{{info.mobile}}</a>
                    {% endif %}
                {% endfor %}
            </div><!-- End .header-left -->
            <div class="header-center">
                <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                    <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- <div class="header-search-wrapper search-wrapper-wide">
                            <label for="search" class="sr-only">Search</label>
                            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            <input type="search" class="form-control" name="search" id="search" placeholder="Search product ..." required>
                        </div> -->
                        <!-- End .header-search-wrapper -->
                    </form>
                </div>
                <!-- End .header-search -->
            </div>
            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li>
                                <div class="header-dropdown">
                                    <a href="#">TAKA</a>
                                    <div class="header-menu">
                                        <ul>
                                            <li><a href="#">CAD</a></li>
                                            <li><a href="#">USD</a></li>
                                            <li><a href="#">TAKA</a></li>
                                        </ul>
                                    </div><!-- End .header-menu -->
                                </div>
                            </li>
                            <!-- <li>
                                <div class="header-dropdown">
                                    <a href="#">English</a>
                                    <div class="header-menu">
                                        <ul>
                                            <li><a href="#">English</a></li>
                                            <li><a href="#">Bengali</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li> -->
                            {% if request.user.is_authenticated %}
                            <div class="nav-link">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <div class="icon"><i class="fas fa-user"></i></div>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="dropdown-content">
                                        <li><a href="{% url 'profiles:profile' %}">Profile </a></li>
                                        <li><a href="{% url 'profiles:logout' %}">Logout </a></li>
                                    </div><!-- End .dropdown-menu -->
                                </div>
                            {% else %}
                            <li><a href="{% url 'profiles:login' %}">Sign in </a> / <a href="{% url 'profiles:register' %}"> Sign up</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->

        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
                
                <a href="{% url 'store:index' %}" class="logo">
                    {% for info in settings %}
                        {% if info.logo %}
                            <img src="{{info.logo.url}}" alt="{{info.website_title}}" width="105" height="25">
                        {% endif %}
                    {%  endfor%}
                </a>
                <div class="dropdown category-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                        Browse Categories <i class="icon-angle-down"></i>
                    </a>

                    <div class="dropdown-menu">
                        <nav class="side-nav">
                            <ul class="menu-vertical sf-arrows">
                                {% for cat in request.user|category %}
                                {% if not cat.children.all %}
                                <li class="item-lead"><a href="#">{{cat.title}}</a></li>
                                {% else %}
                                <li class="item-lead"><a href="#">{{cat.title}}</a>
                                    <ul>
                                        {% for subcategory in cat.children.all %}
                                        <li><a href="#">{{subcategory.title}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul><!-- End .menu-vertical -->
                        </nav><!-- End .side-nav -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .category-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-center">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li><a href="{% url 'store:index' %}" class="sf-with-ul">Home</a></li>
                        <li><a href="{% url 'store:product' %}" class="sf-with-ul">Product</a></li>
                        <li><a href="{% url 'order:cart' %}" class="sf-with-ul">Cart</a></li>
                        <!-- <li>
                            <a href="#" class="sf-with-ul">Pages</a>
                            <ul>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="404.html">Error 404</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </li> -->
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-center -->

            <div class="header-right">
                <div class="dropdown compare-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                        <div class="icon">
                            <i class="icon-random"></i>
                        </div>
                        <p>Compare</p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <ul class="compare-products">
                            <li class="compare-product">
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                <h4 class="compare-product-title"><a href="product.html">Blue Night Dress</a></h4>
                            </li>
                            <li class="compare-product">
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                <h4 class="compare-product-title"><a href="product.html">White Long Skirt</a></h4>
                            </li>
                        </ul>

                        <div class="compare-actions">
                            <a href="#" class="action-link">Clear All</a>
                            <a href="#" class="btn btn-outline-primary-2"><span>Compare</span><i class="icon-long-arrow-right"></i></a>
                        </div>
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .compare-dropdown -->
                <div class="wishlist">
                    <a href="{% url 'order:wishlist' %}" title="Wishlist">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count badge">0</span>
                        </div>
                        <p>Wishlist</p>
                    </a>
                </div><!-- End .compare-dropdown -->

                <!-- Cart dropdown starts here -->
                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            {% if request.user.is_authenticated %}
                            <span class="cart-count">{{request.user|cart_count}}</span>
                            {% else %}
                            <span class="cart-count">0</span>
                            {% endif %}
                        </div>
                        <p>Cart</p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                        {% if request.user.is_authenticated %}
                            {% if request.user|cart_view %}
                                {% for cart in request.user|cart_view %}
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="product.html">{{cart.item.title}}</a>
                                    </h4>

                                    <span class="cart-product-info">
                                        <span class="cart-product-qty">{{cart.quantity}}</span>
                                        x $ {{cart.get_total}}
                                    </span>
                                </div><!-- End .product-cart-details -->

                                <figure class="product-image-container">
                                    <a href="product.html" class="product-image">
                                        <img src="{{cart.item.image.url}}" alt="product">
                                    </a>
                                </figure>
                                <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .product -->
                                {% endfor %}
                            {% endif %}
                        {% endif %}

                        </div><!-- End .cart-product -->

                        <div class="dropdown-cart-total">
                            <span>Total</span>
                            {% if request.user.is_authenticated %}
                            <span class="cart-total-price">$ {{request.user|cart_total}}</span>
                            {% else %}
                            <span class="cart-total-price">$ 0.00</span>
                            {% endif %}
                        </div><!-- End .dropdown-cart-total -->

                        <div class="dropdown-cart-action">
                            <a href="{% url 'order:cart' %}" class="btn btn-primary">View Cart</a>
                            <a href="{% url 'payment:checkout' %}" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .dropdown-cart-total -->
                    </div><!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->

                <!-- Notification dropdown starts here -->
                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            {% if request.user|notification_count %}
                            <span class="cart-count">{{request.user|notification_count}}</span>
                            {% else %}
                            <span class="cart-count">0</span>
                            {% endif %}
                        </div>
                        <p>Notification</p>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            {% for notification in request.user|notifications %}
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="{% url 'notification:is_read' notification.pk %}">{{notification.message}}</a>
                                    </h4>
                                </div><!-- End .notification-details -->
                                <a href="{% url 'notification:is_read' notification.pk %}" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                            </div><!-- End .notification -->
                            {% endfor %}
                    </div><!-- End .dropdown-menu -->
            </div>
        </div><!-- End .container -->
    </div><!-- End .header-bottom -->
</header><!-- End .header -->
